.leftNav {
  height: 100vh;
  display: flex;

  .navigationLinks {
    // background-color: gray;
    // width: 50px;
    // height: 100vh;
    // position: fixed;
    // z-index: 1;
    margin-top: 110px;

    .openClose {
      cursor: pointer;
    }

    ul {
      padding: 0;

      li {
        cursor: pointer;
        margin: 10px 0 10px 15px;
        font-size: 20px;
      }
    }

  }
  .navigationRoutes {
    width: 100vw;
    margin: 110px 0 25px 25px;
    overflow-y: scroll;
  }
}
