<div class="sitemap cardStyle">
  <div class="sitemapRow">
    <div class="sitemapColumn">
      <h3 style="margin-top:0;">Main Pages</h3>

      <ul style="list-style: none;">

        <li (click)="navigationLinks('dashboard')" (keydown)="keydownFunction($event, 'dashboard')"
          title="Dashboard" id="Dashboard">Dashboard
        </li>

        <li (click)="navigationLinks('pageOne')" (keydown)="keydownFunction($event, 'pageOne')"
          title="Page One" id="Page One">Page One
        </li>

        <li (click)="navigationLinks('pageTwo')" (keydown)="keydownFunction($event, 'pageTwo')"
          title="Page Two" id="Page Two"> Page Two
        </li>

        <li (click)="navigationLinks('settings')" (keydown)="keydownFunction($event, 'settings')"
          title="Settings" id="Settings">Settings
        </li>

      </ul>

    </div>
  </div>
</div>
