.sitemap {
  margin-top: 25px;
  width: 500px;
  height: auto;
  padding: 10px;

  .sitemapRow {

    .sitemapColumn {

      ul {
        cursor: pointer;

        li {
          margin-bottom: 15px;
        }
      }
    }
  }
}
