<div class="dashboard">
  <div class="dashboardCards">

    <div class="card cardStyle">
      <div class="cardHeader"></div>
      <div class="cardRow"></div>
    </div>

    <div class="card cardStyle">
      <div class="cardHeader"></div>
      <div class="cardRow"></div>
    </div>

    <div class="card cardStyle">
      <div class="cardHeader"></div>
      <div class="cardRow"></div>
    </div>

    <div class="card cardStyle">
      <div class="cardHeader"></div>
      <div class="cardRow"></div>
    </div>


    <div class="graph cardStyle">
      <div class="cardHeader"></div>
      <!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart> -->
    </div>

  </div>
</div>
